[submodule "First-project"]
	path = First-project
	url = https://github.com/Diego2312/First-project.git
[submodule "Terrorism-Hotspots-Analysis"]
	path = Terrorism-Hotspots-Analysis
	url = https://github.com/Diego2312/Terrorism-Hotspots-Analysis.git
[submodule "Human-population-analysis"]
	path = Human-population-analysis
	url = https://github.com/Diego2312/Human-population-analysis.git
[submodule "matplotlib-study"]
	path = matplotlib-study
	url = https://github.com/Diego2312/matplotlib-study.git
[submodule "pandas-study"]
	path = pandas-study
	url = https://github.com/Diego2312/pandas-study.git
